*{
    background-color: #ffd181;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}
#container-about h1{
    background-color: #ff6d00;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
#container-about h2,p{
    text-align: center;
}
#container-about img{
    margin: auto;
    border-radius: 50%;
    display: flex;
}

#container-social-network h2{
    text-align: center;
    background-color: #ff9201;
    padding: 20px;
    border-radius: 10px;
}
#container-social-network  ul li{
    text-align: center;
    list-style-type: none;
}
#container-social-network li a:hover{
    color: white;
    padding-left: 20px;
}